<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">
<!-- Ejemplo

<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../../style.css" th:href="@{/style.css}">
	<title th:text="${titulo}"></title>
</head>

despues en html

<head th:replace="layouts/fragments::head">
  <meta charset="utf-8">
  <title></title>
</head>

 -->

 <head th:fragment="head">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Orbitron%7CPlay%7CQuicksand&display=swap" rel="stylesheet">
   <title th:text="${titulo}"></title>
 </head>

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
