<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">

<head th:replace="layouts/heads::head1"></head>

<body>
  <div class="container-fluid">
    <header th:replace="layouts/headers::header1"></header>

      <main class="">
        <div class="row d-flex">
          <nav class="noPadding contorno col-4">
            <br>
            <ul class="col-12 text-center">
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">CPU</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">RAM</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">Placas Madre</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin" style="font-size: 1.1em;">Almacenamiento</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">Placas de Video</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">Fuentes</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">Gabinetes</h5></a></li>
              <li class="contorno marginBottom"><a href="#"><h5 class="noMargin">Refrigeración</h5></a></li>
            </ul>
          </nav>
          <div class="productContainer d-flex justify-content-center col-8">
            <div class="row">
              <article class="product contornoDif justify-content-center col-12 col-sm-6 col-md-4" th:each="producto, iStat: ${listarTodo}" th:unless="${iStat.index > 8}">
                <a th:href="@{/producto?id=} + ${producto.id}">
                <h2 th:text="${producto.nombre}">Producto Vacio</h2>
                <img src="" th:src="${producto.img}" class="sizeimg col-12" alt="cpu">
                <h3 th:text="${producto.precio} + '$'"></h3>
                <br>
                </a>
              </article>
            </div>
          </div>
        </div>

      </main>
      <footer th:replace="layouts/footers::footer1"></footer>

      <div th:replace="layouts/scripts::scripts1"></div>
      <script type="text/javascript" src="../../js/fetch.js" th:src="@{js/fetch.js}"></script>
    </body>
    </html>
