<!DOCTYPE html>
<html lang="en" dir="ltr"><html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">

<head th:replace="layouts/heads::head1">
  <link rel="stylesheet" href="../../css/contacto.css" th:href="@{/css/contacto.css}">
  <script type="text/javascript" src="../../js/validacion.js" th:src="@{/js/validacion.js}">  </script>
</head>

<body id="contacto">
  <div class="container-fluid">
    <header th:replace="layouts/headers::header1"></header>
      <main class="">
        <br>
        <div class="row d-flex justify-content-center">
          <div class="titulo col-5">
            <h1 class="">Contacto</h1>
          </div>
        </div>
        <form class="row contacto col-12" action="index.html" method="post">
          <div class="contDirecto col-12">
            <div class="align-middle">
              <h2>Consultas</h2>
            </div>
            <div class="">
              <input required class="col-12" type="name" name="Nombre" value="" placeholder="Ingrese su nombre aquí...">
              <br><br>
              <input required class="col-12" type="name" name="Apellido" value="" placeholder="Ingrese su apellido aquí...">
              <br><br>
              <input required class="col-12" type="email" name="Email" value="" placeholder="Ingrese su e-mail aquí...">
              <br><br>
              <input required class="col-12" type="tel" name="Telefono" value="" placeholder="Ingresu su telefono aquí...">
              <br><br>
              <textarea name="Consulta" rows="8" class="col-12" placeholder="Ingrese su consulta aquí..."></textarea>
              <br><br>
            </div>
            <button type="submit" class="btn-lg btn-dark" name="button">Enviar</button>
            <br><br>
          </div>
          <div class="informacion col-12 ">
            <div class="text-center">
              <h2> Información </h2>
            </div>
            <p>Dirección: Av. Belgrano 1193, Ciudad de Mendoza</p>
            <p>Telefono: <a href="call:11133456">11133456</a> </p>
            <p>E-mail: <a href="email:coso@gmail.com">coso@gmail.com</a> </p>
            <div class="map-google col-12 align-content-center" style="margin: 0px; padding: 0px;">
              <iframe height="250em"style="margin: 0px; padding: 0px;" class= "col-12"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1675.19776902906!2d-68.85065424176804!3d-32.88770899523461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0903818ffd51%3A0x51eec3b607614e5f!2sAv.%20Belgrano%201193%2C%20M5500CBA%20Mendoza!5e0!3m2!1ses-419!2sar!4v1573238709308!5m2!1ses-419!2sar"
              frameborder="0"  allowfullscreen=""></iframe>
            </div>
            <br><br><br><br>
          </div>

        </form>
      </main>
      <footer th:replace="layouts/footers::footer1"></footer>

      <div th:replace="layouts/scripts::scripts1"></div>
      <script src="../../js/validacion.js" th:src="@{js/validacion.js}"></script>
    </body>
    </html>
