<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">

<head th:replace="layouts/fragmentos::head"></head>

<body>
  <div class="container-fluid">
    <header th:replace="layouts/fragmentos::header"></header>
             <!-- End Header Begins Main -->
      <main class="text-center col-12">
        <section class="">
          <br>
          <div class="row banner d-flex col-12 justify-content-center>">
            <div id="myCarousel" class="carousel slide col-md-12 d-flex align-self-center" data-interval="3000" data-pause="hover" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="contorno d-block w-100 bannerImg" src="img/Banner/NoteChilling.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Disfruta en Casa</h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="contorno d-block w-100 bannerImg" src="img/Banner/Gamer.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Juga al maximo</h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="contorno d-block w-100 bannerImg" src="img/Banner/ServerRoom.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Tus necesidades estan cubiertas</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="row col-12">
          <div class="col-12">
            <br><br>
            <h2 id="ofertas">OFERTAS</h2>
            <br><br>
          </div>
          <div class="producto contorno col-12 col-sm-6 col-md-6 col-lg-4">
            <h2>AMD Ryzen 3950x</h2>
            <img src="img\Productos\Desktop\CPU\AMD Ryzen 3950x.jpg" class="sizeimg col-12" alt="cpu">
            <br><br>
          </div>
          <div class="producto contorno col-12 col-sm-6 col-md-6 col-lg-4">
            <h2>Trident Royal 8Gb x 2</h2>
            <img src="img\Productos\Desktop\RAM\G-SKILL Trident Royal 8GBx2.png" class="sizeimg col-12" alt="RAM">
            <br><br>
          </div>
          <div class="producto contorno col-12 col-sm-6 col-md-6 col-lg-4">
            <h2>NZXT H510I Matte White</h2>
            <img src="img\Productos\Desktop\Gab\NZXT H510I Matte White.jpg" class="sizeimg col-12" alt="gab">
            <br><br>
          </div>
          <div class="producto contorno col-12 col-sm-6 col-md-6 col-lg-4">
            <h2>ASUS Rog Crosshair vIII HERO X570</h2>
            <img src="img\Productos\Desktop\Mother\ASUS Rog Crosshair vIII HERO X570.png" class="sizeimg col-12" alt="Mother">
            <br><br>
          </div>
          <div class="producto contorno col-12 col-sm-6 col-md-6 col-lg-4">
            <h2>Samsung SSD 970 PRO 1TB</h2>
            <img src="img\Productos\Desktop\Disco\Samsung SSD 970 PRO 1TB.jpg" class="sizeimg col-12" alt="disco">
            <br><br>
          </div>
          <div class="producto contorno col-12 col-sm-6 col-md-6 col-lg-4 sizeimg">
            <h2>NZXT Liquid Cooler KRAKEN X52</h2>
            <img src="img\Productos\Desktop\Coolers\NZXT Liquid Cooler KRAKEN X52.jpg" class="sizeimg col-12" alt="Coolers">
          </div>
          <br><br><br><br><br><br>
        </section>
        <section class="row col-12">
          <div class="col-12 col-md-4">
            <br>
            <h2>DIRECCION</h2>
            <br>
            <p>Av. Belgrano 1193, Ciudad de Mendoza</p>
          </div>
          <div class="col-12 col-md-4">
            <br>
            <h2>ACERCA DE NOSOTROS</h2>
            <br>
            <p> Somos una empresa dedicada a brindar soluciones informaticas, desde servicio tecnico especializado hasta la venta de insumos al usuario final </p>
          </div>
          <div class="col-12 col-md-4">
            <br>
            <h2>Redes Sociales</h2>
            <br>
            <a href="https://www.facebook.com"><ion-icon size="large" name="logo-facebook"></ion-icon></a>
            <a href="https://www.google.com"><ion-icon size="large" name="logo-googleplus"></ion-icon></a>
            <a href="https://www.twitter.com"><ion-icon size="large" name="logo-twitter"></ion-icon></a>
            <a href="https://www.instagram.com"><ion-icon size="large" name="logo-instagram"></ion-icon></a>
            <br><br>
          </div>
        </section>
      </main>
                <!-- End Main Begins Footer -->
      <footer th:replace="layouts/fragmentos::footer"></footer>

      <div th:replace="layouts/fragmentos::scripts"></div>

    </body>
  </html>
