<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">
<head th:replace="layouts/heads::head1"></head>
<body>
  <div class="container-fluid">
    <header th:replace="layouts/headers::header1"></header>
             <!-- Fin Header Inicio Main -->
      <main class="text-center col-12">
        <section class="">
          <br>
          <div class="row banner d-flex col-12 justify-content-center>">
                <!-- Inicio Carrousel  -->
            <div id="myCarousel" class="carousel slide col-md-12 d-flex align-self-center" data-interval="3000" data-pause="hover" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="contorno d-block w-100 bannerImg" src="img/Banner/NoteChilling.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Disfruta en Casa</h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="contorno d-block w-100 bannerImg" src="img/Banner/Gamer.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Juga al maximo</h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="contorno d-block w-100 bannerImg" src="img/Banner/ServerRoom.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Tus necesidades estan cubiertas</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Carrousel -->
        </section>
        <section class="row col-12">
          <div class="col-12">
            <br><br>
            <h2 id="ofertas">PRODUCTOS DESTACADOS</h2>
            <br><br>
          </div>
          <article class="producto contornoFondoNaranja col-12 col-sm-6 col-md-6 col-lg-4" th:each="producto, iStat: ${listarTodo}" th:unless="${iStat.index > 5}">
            <h2 th:text="${producto.nombre}">Producto Vacio</h2>
            <img src="" th:src="${producto.img}" class="sizeimg col-12" alt="cpu">
            <h3 th:text="${producto.precio} + '$'"></h3>
            <br>
          </article>
          <br><br><br><br>
        </section>
        <section class="row col-12">
          <div class="col-12 col-md-4">
            <br>
            <h2>DIRECCION</h2>
            <br>
            <p>Av. Belgrano 1193, Ciudad de Mendoza</p>
          </div>
          <div class="col-12 col-md-4">
            <br>
            <h2>ACERCA DE NOSOTROS</h2>
            <br>
            <p> Somos una empresa dedicada a brindar soluciones informaticas, desde servicio tecnico especializado hasta la venta de insumos al usuario final </p>
          </div>
          <div class="col-12 col-md-4">
            <br>
            <h2>Redes Sociales</h2>
            <br>
            <a href="https://www.facebook.com"><ion-icon size="large" name="logo-facebook"></ion-icon></a>
            <a href="https://www.google.com"><ion-icon size="large" name="logo-googleplus"></ion-icon></a>
            <a href="https://www.twitter.com"><ion-icon size="large" name="logo-twitter"></ion-icon></a>
            <a href="https://www.instagram.com"><ion-icon size="large" name="logo-instagram"></ion-icon></a>
            <br><br>
          </div>
        </section>
      </main>
                <!-- End Main Begins Footer -->
      <footer th:replace="layouts/footers::footer1"></footer>

      <div th:replace="layouts/scripts::scripts1"></div>

    </body>
  </html>
