<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">

<head th:replace="layouts/fragmentos::head"></head>

<body>
  <div class="container-fluid">
    <header th:replace="layouts/fragmentos::header"></header>
      <main>
        <div class="imagen">
          <br>
          <h3>Disco Solido</h3>
          <img src="img/Productos/Desktop/Disco/Ssd-Kingston-A400-240gb.jpg" class="img-fluid" alt="Responsive image">
          <h4>$500,00</h4>
          ​
          <button type="button" class="btn btn-primary btn-lg">Comprar</button>
          ​
          <h4>Descripcion producto</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>
          </div>
          ​    </main>
          <footer th:replace="layouts/fragmentos::footer"></footer>

          <div th:replace="layouts/fragmentos::scripts"></div>
        </body>
        </html>
