<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">
<head th:replace="layouts/heads::head1"></head>
<body>
  <div class="container-fluid">
    <header th:replace="layouts/headers::header1"></header>
      <main>
        <article class="imagen contornoDif2 bigPadding" th:object="${producto}">
          <input class="" type="hidden" th:field="*{id}" />
          <input class="" type="hidden" th:field="*{categoria}" />
          <input class="" type="hidden" th:field="*{marca}" />
          <input class="" type="hidden" th:field="*{modelo}" />
          <h3 th:text="*{nombre}"></h3>
          <img th:src="*{img}" class="img-fluid" alt="Responsive image">
          <br>
          <h4 class="text-center"th:text="'Precio: ' + *{precio} + ' $'"></h4> ​
          <br>
          <button type="button" class="text-right btn btn-outline-dark btn-lg contornoFondoNaranja">Comprar</button>
          <br>
          <h4>Descripcion producto</h4>
          <p class="text-justify" th:text="*{descripcion}"></p>
        </article>
          ​    </main>
          <footer th:replace="layouts/footers::footer1"></footer>

          <div th:replace="layouts/scripts::scripts1"></div>
        </body>
        </html>
