<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http//www.thymeleaf.org">

<head th:replace="layouts/fragmentos::head"></head>

<body>
  <div class="container-fluid">    ​
    <header th:replace="layouts/fragmentos::header"></header>
      <main>
        <div class="row justify-content-center">
          <div class="col-12">
            <br>
          </div>
          <div class="col-12">
            <h2 class="text-center">Registro de Usuario</h2>
          </div>
          <div class="col-12">
            <br>
          </div>          ​
          <form class="text-center" action="index.html" method="post">            ​
            <input required type="email" name="Email" value="" placeholder="Ingrese su e-mail aquí" class="col-8">            ​
            <input required type="password" name="Contraseña" value="" placeholder="Ingrese su contraseña" class="col-8">            ​
            <input required type="password" name="RepetirContraseña" value="" placeholder="Repita su contraseña" class="col-8">            ​
          </form>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <br>
          </div>
          <div class="col-12">
            <h3 class="text-center">Informacion Personal</h3>
          </div>
          <div class="col-12">
            <br>
          </div>
          <form class="text-center" action="index.html" method="post">
            ​
            <input required type="text" name="Nombre" value="" placeholder="Ingrese su Nombre aquí" class="col-8">
            ​
            <input required type="text" name="Apellido" value="" placeholder="Ingrese su Apellido aquí" class="col-8">
            ​
            <input required type="text" name="DNI" value="" placeholder="Ingrese su DNI o CUIT (solo numeros) aquí" class="col-8">
            ​
            <input required type="tel" name="Telefono" value="" placeholder="Ingrese su Teléfono aquí" class="col-8">
            ​ <div class="">
              <br>
            </div>
            <div>
              <button class="btn btn-dark"type="submit" name="" value="Enviar">Enviar</button>
            </div>        ​
          </form>
        </div>​
      </main>
      <footer th:replace="layouts/fragmentos::footer"></footer>

      <div th:replace="layouts/fragmentos::scripts"></div>
      <script src="../../js/validacion.js" th:src="@{js/validacion.js}"></script>
    </body>
    </html>
